@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*----------------------- common class --------------- */
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.hilight{
    color: #ff008e;
}
.primary-btn{
    outline: 0;
    border: 0;
    padding: 5px 20px;
    color: #fff;
    background-image: linear-gradient(90deg, #ff008e,#8b215c);
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 3px 0 #d32a87;
    position: relative;
    top: 0;
}
.primary-btn:active{
    top: 3px;
    box-shadow: 0 1px 0 #d32a87;
}
.sectin-title{
    text-align: center;
}
.sectin-title h2{
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #ff008e;
    margin: 50px 0;
    display: inline-block;
}
/*--------------------- common class ----------------------------*/
/* header style */
header{
    background-image: url('./images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
}
/* navigation style */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #fff;
}
/* banner design */
.banner{
    height: calc(100vh - 80px);
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.left-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.left-banner h1{
   font-size: 45px;
   color: #fff;
}
.left-banner p{
   font-size: 18px;
   color: #fff;
   line-height: 1.7;
   margin: 15px 0;
}
.right-banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-banner img{
    width: 100%;
}
/* feacheer style */
.feacher{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
}
.card{
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
}
.card .card-icon{
    background-color: #ff008e;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
}
.card h3{
    font-size: 25px;
    color: #ff008e;
}
.card p{
    line-height: 1.7;
    text-align: justify;
    letter-spacing: 1;
    margin: 10px 0;
}
.card a{
    text-decoration: none;
    color: #ff008e;
}
/* gallery style */
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ff008e;
}
/* contact style */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    align-items: center;
}
.left-contact img{
    width: 100%;
}
.right-contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-family: inherit;
    outline: none;
    border: 1px solid #8b215c;
    border-radius: 2px;
}
/* footer style */
footer{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: #fff;

}
/* responsive tab */
@media(max-width:950px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .left-banner h1{
        font-size: 30px;
     }
     .card{
        width: 300px;
        
    }
}
@media(max-width:700px){

    .banner,.feacher,.gallery,.contact{
        grid-template-columns: 1fr;
    }
    .left-banner {
        order: 1;
     }
     .right-banner img{
        width: 300px;
    }
   
     
}